.list-group-item-action:active {
  color: #495057;
  background-color: #f8f9fa;
}

.history-btn {
  background-color: #96c757;
  color: white;
  float: right;
}

.match-text {
  font-style: italic;
}

.match {
  color: green
}

.unmatch {
  color: red
}