<main role="main" class="container">
  <div v-if="isReqPending" class="loader">
    <span class="fa fa-spinner fa-spin "></span>
  </div>
  <div v-if="!isReqPending">
    <button class="btn btn-info mb-1" v-on:click="router.push({ name: 'AdminSearch' })">
      Back to Search
    </button>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col mx-3 mb-3" style="color: rgb(90, 83, 83);">
            <span>
              <h4>History </h4>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col list-group mx-3">
            <div v-for="(item, index) in list" :key="index" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between" style="cursor: pointer">
                <h5 class="mb-1" v-on:click="setModalValue(index)" data-toggle="modal" data-target="#itemDialog">{{item.list.name}}</h5>
                <small>{{item.list.site}}</small>
              </div>
              <span v-if="item.list.description">
                <p class="mb-1">{{item.list.description.substring(0, 150) + '...'}}</p>
              </span>
              <small>Rs.{{item.list.price}}</small>
              <button :disabled="false" class="btn btn-success" v-on:click="deleteItem(index)" style="float: right">
                <span v-if="loaderIndex ===  index" class="fa fa-spinner fa-spin"></span>
                Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--open item in modals-->
  <div class="modal fade" id="itemDialog" tabindex="-1" role="dialog" aria-labelledby="itemDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="itemDialogLabel">{{modal.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-2">
              <img :src="modal.image" width="150">
              <a class="btn btn-primary btn-sm mt-4 ml-3" :href="modal.uri" role="button" target="_blank">Link to product</a>
            </div>
            <div class="col ml-4">
              <table class="table desc">
                <thead>
                  <th scope="col"></th>
                  <th scope="col">Search Result</th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{modal.name}}</td>
                    <td>{{name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Brand</th>
                    <td>{{modal.brand}}</td>
                    <td>{{brand}}</td>

                  </tr>
                  <tr>
                    <th scope="row">Category</th>
                    <td>{{modal.category}}</td>
                    <td>{{category}}</td>

                  </tr>
                  <tr>
                    <th scope="row">Price</th>
                    <td>{{modal.price}}</td>
                    <td>{{price}}</td>

                  </tr>
                  <tr>
                    <th scope="row">Description</th>
                    <td>{{modal.description}}</td>
                    <td>{{description}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>